@import url("../css/navigation.css");

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    position: absolute;
    top: 120px;
}

/* -- Logo -- */
.logo {
    top: 300px;
}

/* -- Search Bar -- */
.search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    margin-top: 30px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
    border: none;
    outline: none;
    padding: 10px;
    width: 395px;
    border-radius: 25px;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.resultList-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    margin-top: 30px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* -- Center main -- */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 0;
    position: relative;
    top: 740px;
    left: -125px;
}

.paragraph-container-presentation,
.paragraph-container-positive,
.paragraph-container-neutral,
.paragraph-container-negative {
    background: #f9f9f9;
    border-radius: 8px;
    border-left: 5px solid #884d11;
    max-width: 400px;
    margin: 10px auto;
    margin-left: 20px;
    padding: 15px;
}

.paragraph-title-presentation,
.paragraph-title-positive,
.paragraph-title-neutral,
.paragraph-title-negative {
    color: #884d11;
    font-size: 20px;
    margin-bottom: 10px;
}

.paragraph-content-presentation,
.paragraph-content-positive,
.paragraph-content-neutral,
.paragraph-content-negative {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.paragraph-title-positive,
.paragraph-title-neutral,
.paragraph-title-negative {
    cursor: pointer;
}

.paragraph-container-negative {
    margin-bottom: 100px;
}