@import url("../css/navigation.css");

/* -- Search Bar -- */
.search-container {
    position: fixe;
    display: flex;
    align-items: center;
    justify-content: center; /* Centre le menu */
    padding: 10px 15px;
    background: white;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 800px;
    width: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
    border: none;
    outline: none;
    width: 300px;
    border-radius: 25px;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

/* -- Top Bar -- */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #884d11;
    padding: 20px 25px;
    margin-top: -8px;
    margin-left: -9px;
    margin-right: -8px;
}

/* Style du logo */
.logo {
    height: 120px; /* Taille du logo */
}

/* Centrer le menu */
.nav-menu {
    flex: 1; /* Permet de prendre tout l'espace disponible */
    display: flex;
    justify-content: center; /* Centre le menu */
}

/* Style du menu */
.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 50px; /* Espacement entre les liens */
    padding: 0;
    margin: 0;
}

.nav-menu li {
    display: inline;
}

/* Style des liens */
.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav-menu a:hover {
    background-color: #a85d14;
    border-radius: 5px;
}

/* -- Words -- */
